body {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: #1F1F1F;
}
.p {
    margin: 0px;
}
.container {
    max-width: 1130px;
    margin: 0 auto;
}
.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left {
    display: flex;
    align-items: center;
}
.header-left img {
    margin-right: 36px;
}
a {
    text-decoration: none;
    color: #33383F;
}
.header-links a {
    margin-right: 24px;
    font-size: 15px;
}
.sing-in {
    color: #0070A0;
    border: none;
    background: none;
    font-size: 15px;
    margin-left: 24px;
}
.sign-in-header {
    margin-right: 31px;
}
.demo {
    color: #FFFFFF;
    background: #0070A0;
    padding: 6px 20px;
    border: none;
    font-size: 15px;
}
.demo-main {
    padding: 8px 32px;
    font-size: 17px;
}
h1, h3, h2 {
    font-family: "Fraunces", serif;
    margin: 0;
}
h1 {
    font-size: 58px;
    font-weight: 300;
    margin-bottom: 24px;
}
h2 {
    font-size: 42px;
    font-weight: 400;
}
h3 {
    font-size: 25px;
    font-weight: 500;
}
.main-info-text {
    font-size: 20px;
    width: 340px;
    margin: 0 0 32px 0;
    color: #1F1F1F;
    line-height: 30px;
}
.learn {
    font-size: 17px;
}
.lear::after {
    content: url(assets/arrow.svg);
}
.main-info {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    align-items: center;
}
.main-info-left {
    width: 485px;
}
.supporters-text {
    margin: 0 auto 25px auto;
    width: fit-content;
    font-size: 24px;
}
.supporters {
    margin: 130px auto 160px auto;
}
.supporters-companies {
    display: flex;
    justify-content: center;
}
.supporters-companies img {
    margin-left: 62px;
}
.description-title {
    margin: 13px 0;
}
.description {
    display: flex;
    margin-bottom: 120px;
}
.description-fast {
    background-color: #FAEA73;
}
.description-buck {
    background-color: #CCEFF6;
    margin: 0 32px;
}
.description-safe {
    background-color: #F7CEDC;
}
.description div {
    padding: 32px;
}
.features {
    background-color: #F7F9FA;
    padding-bottom: 120px;
}
.features-title {
    padding-top: 79px;
    margin-bottom: 40px;
    width: 600px;
}
.features-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.features-item {
    border: 1px solid #C2CDD8;
    border-left: none;
    border-right: none;
    padding: 17px 0 9px 0;
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.grey-text {
    color: #626A72;
}
.features-item-text {
    margin: 0 0 18px 16px;
    font-size: 21px;
}
.features-item-text p {
    font-size: 16px;
    line-height: 24px;
}
.features-item-text p {
    width: 340px;
}
.features-item button {
    border: none;
    background: none;
}
.features-item-block {
    display: flex;
    align-items: start;
}
.about {
    margin: 119px auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.about-title {
    line-height: 50px;
    letter-spacing: 0.5px;
    width: 270px;
}
.about-block {
    display: flex;
    align-items: end;
    width: 730px;
}
.about-block-item:nth-child(2){
    margin: 0 32px;
}
.about-block-item p {
    line-height: 24px;
}
.about-block-item h3 {
    margin: 8px 0 13px 0;
}
.track {
    background-color: #0070A0;
    color: #FFFFFF;
}
.track-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}
.track-block {
    width: 500px;
}
.track-block h2 {
    margin-bottom: 21px;
    width: 403px;
}
.track-block p{
    font-size: 18px;
    line-height: 27px;
}
.track-list {
    margin: 16px 0 25px 0;
    padding-left: 25px;
}
.track-list li {
    list-style-image: url(assets/mark.svg);
}
.track-list li:nth-child(2){
    margin: 11px 0;
}
.tasks h2 {
    margin: 120px 0 21px 0;
}
.tasks-info {
    font-size: 18px;
    width: 640px;
    line-height: 27px;
}
.tasks-list {
    margin: 65px 0 120px 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.tasks-list-item {
    width: 234.5px;
}
.tasks-list-item h3 {
    margin: 7px 0 13px 0;
}
.blog {
    background-color: #F7F9FA;
    padding: 80px 0;
}
.blog-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;
}
.blog-list {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.blog-list-item {
    background-color: #FFFFFF;
    width: 355px;
}
.blog-list-item-text {
    padding: 25px 34px 28px 24px;
}
.blog-list-item-text p {
    font-weight: 400;
}
.blog-list-item-text h4 {
    color: #2C90C9;
    background-color: #E6F7FF;
    padding: 2px 12px 4px 12px;
    width: fit-content;
}
.blog-list-item-text h3 {
    width: 250px;
    font-weight: 400;
}
.start {
    background-color: #E6F7FF;
    margin: 80px auto;
}
.start-block {
    width: 480px;
    padding: 64px;
}
.start-info {
    font-size: 18px;
    margin-top: 21px;
    margin-bottom: 33px;
    line-height: 27px;
}
.start-about {
    display: flex;
}
.start-about p {
    font-size: 13px;
    color: #626A72;
    margin-right: 36px;
    margin-top: 20px;
}
.start-about p::before {
    content: url(assets/check-mark.svg);
}
.footer-up {
    display: flex;
    padding-bottom: 64px;
    border-bottom: 1px solid #DEE5EB;
    justify-content: space-between;
}
.footer-info {
    width: 430px;
}
.footer-info img {
    margin-bottom: 10px;
}
.footer-link {
    color: #0070A0;
}
h6 {
    margin: 0px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 400;
}
.footer-nav a {
    display: block;
    color: #626A72;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer-news {
    width: 220px;
}
.footer-news input {
    border: none;
    border-bottom: 1px solid #626A72;
    margin-top: 14px;
    padding: 17px 0px 7px 15px;
    outline: none;
}
.footer-news button::after {
    content: url(assets/arrow.svg);
}
.footer-news button {
    background-color: #fff;
    border: none;
    padding: 0px;
}
.footer-news p{
    width: 190px;
}
.footer-down {
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
}
.footer-down p {
    font-size: 13px;
}
.footer-social a {
    margin-right: 20px;
}